@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
.input-field {
  @apply w-full p-3 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500;
}

/* Add this CSS to your LandingPage or global CSS file */
.gradient-bg {
  background: linear-gradient(135deg, #c2c2c2, #ffffff, #c3c3c3);
}

  .all-items a {
    background: white; /* Default background color for inactive links */
    color: black; /* Default text color for inactive links */
  }
  .all-items a:hover {
    opacity: 0.75; /* Slight opacity on hover */
  }
  .active {
    background: black !important;
    color: white !important;
  }
  .isActive{
    background: black !important;
    color: white !important;
  }
}

.isActive{
  background: black !important;
  color: white !important;
}